<nav class="navbar navbar-expand-md navbar-light bg-light text-primary fixed-top pt-2 pb-2">
    <a class="navbar-brand logo pl-4" routerLink="/">
        <span class="logo-img"></span>
    </a>
    <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
        data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-primary"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse pr-5" id="navbarsDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item font-weight-bold">
                <a class="nav-link text-uppercase" routerLink="/about" [translate]="'global.menu.about'" (click)="collapseNavbar()"></a>
            </li>
            <li class="nav-item font-weight-bold">
                <a class="nav-link text-uppercase" routerLink="/participate" [translate]="'global.menu.participate'" (click)="collapseNavbar()">Link</a>
            </li>
            <li class="nav-item font-weight-bold">
                <a class="nav-link text-uppercase" routerLink="/estimate" [translate]="'global.menu.estimate'" (click)="collapseNavbar()">Link</a>
            </li>

            <li class="nav-item font-weight-bold dropdown" ngbDropdown>
                <a class="nav-link dropdown-toggle text-uppercase" ngbDropdownToggle [translate]="'global.menu.language'"></a>
                <div class="dropdown-menu" ngbDropdownMenu>
                    <a *ngFor="let language of languages" class="dropdown-item" [ActiveMenu]="language" (click)="changeLanguage(language);collapseNavbar();">
                        {{language | findLanguageFromKey}}
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>