@import '../../assets/scss/bootstrap-variables';

legend {
  font-weight: 600;
  font-size: 20px;
  margin: 0 auto 1em;
  color: $light;
}

.icon {
  margin: 1em;
  width: 1em;
  height: 1em;
  display: inline-block;
  svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
  }
}

[type=radio] + label {
  display: inline-block;
  width: 150px;
  text-transform: uppercase;
  border: 1px solid;
  padding: 10px;
  text-align: center;
  margin: 0 10px 1em;
  cursor: pointer;
  line-height: 20px;
  color: $light;
  .icon {
    display: block;
    font-size: 50px;
    margin: 10px auto;
  }
}

[type=radio]:checked + label {
  background: $light;
  border-color: $light;
  color: $success;
}

[type=radio] {
  display: none;
}

[type=number] {
  border-radius: 30px 0 0 30px;
  border-right: none;
}

.input-group-text {
  border-radius: 0 30px 30px 0;
  font-style: italic;
  border-left: none;
  font-weight: 300;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-style: italic;
  color: $light;
  opacity: 1; /* Firefox */
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-style: italic;
  color: $light;
}

input::-ms-input-placeholder { /* Microsoft Edge */
  font-style: italic;
  color: $light;
}

/* Remove number input spinner */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}





