@import '../../assets/scss/bootstrap-variables';

.icon {
    @media screen  and (max-width:1200px){
        height: 10vh;
        width: 10vw;
    }
    
    @media screen  and (max-width:720px){
        height: 6vh;
    }
    display: inline-block;
}

.icon svg {
    width: 50%;
    height: 50%;
    fill: $light;

    @media screen  and (max-width:1200px){
        height: 100%;
        width: 100%;
    }
}

.icon {
    margin: 1em;
}

[type=radio] {
    display: none;
}

[type=radio] + label {
    cursor: pointer;
    color: $light;
}

[type=radio]:checked + label {
    background: $light;
    border-color: $light;
    color: $primary;
    fill: $primary;
}
[type=radio]:checked + label .icon svg {
    fill: $primary;
}

[type=number] {
    border-radius: 30px 0 0 30px;
    border-right: none;
}

.year-input {
    border-right: 1px solid;
}

[type=select] {
    border-radius: 30px 0 0 30px;
}

.input-group-text {
    border-radius: 0 30px 30px 0;
    font-style: italic;
    border-left: none;
    font-weight: 300;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-style: italic;    
    color: $light;
    opacity: 1; /* Firefox */
}
  
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-style: italic;
    color: $light;
}
  
input::-ms-input-placeholder { /* Microsoft Edge */
    font-style: italic;
    color: $light;
}