@import '../../assets/scss/bootstrap-variables';

@media screen and (max-width:800px){
    .display-3 {
      font-size: 2.5rem;
    }
}

.icon {
    height: 10vh;
    width: 10vw;
    display: inline-block;
}

.icon svg {
    width: 100%;
    height: 100%;
    fill: $light;
}

.icon {
    margin: 1em;
}

[type=radio] {
    display: none;
}

[type=radio] + label {
    cursor: pointer;
    color: $light;
}

[type=radio]:checked + label {
    background: $light;
    border-color: $light;
    color: $primary;
    fill: $primary;
}
[type=radio]:checked + label .icon svg {
    fill: $primary;
}

[type=number] {
    border-radius: 30px 0 0 30px;
}

.input-group-text {
    border-radius: 0 30px 30px 0;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $light;
    opacity: 1; /* Firefox */
}
  
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $light;
}
  
input::-ms-input-placeholder { /* Microsoft Edge */
    color: $light;
}