#content{
    padding-top: 98px;
}

.main-component {
    margin-left: auto;
    margin-right: auto;
    margin-top: 133px;
    position: relative;
    padding-left: 31px;
    padding-right: 31px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    margin-bottom: 20px;
}