<div class="error-content">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 [translate]="'global.error.title'" class="text-center align-middle text-primary pb-3 pt-3 display-3"></h1>
            

            <div [hidden]="!errorMessage">
                <div class="alert alert-danger">{{errorMessage}}
                </div>
            </div>
            <div [hidden]="!error403" class="alert alert-danger text-center align-middle">You are not authorized to access this page.
            </div>
            <div [hidden]="!error404" class="alert alert-danger text-center align-middle">The page asked was not found.
            </div>
        </div>
    </div>
</div>
