<div class="footer">
    <div class="row">
        <div class="col text-left">
            <h5 [translate]="'global.footer.contact'" class="text-uppercase">Contact : </h5>
        </div>
        <div class="col text-left">
            <h5 [translate]="'global.footer.other'" class="text-uppercase">Other sites : </h5>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <span>contact@naonedia.fr</span>
        </div>
        <div class="col text-center">
            <a href="http://naonedia.fr/">NaonedIA</a>
        </div>
    </div>
</div>