@import '../../assets/scss/bootstrap-variables';

.home {
  display: flex;
  min-height: 100vh;
  position: relative;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

section {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  flex-grow: 1;
}

article {
  padding: 60px 100px;
  @media (max-width: 768px) {
    padding: 20px;
  }
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.skew {
  position: absolute;
  @media (max-width: 768px) {
    display: none;
  }
}

.skew.main {
  top: 0;
  left: 58%;
  width: 120px;
  height: calc(100%);
  fill: #fff;
}

.video {
  width: 58%;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.video article {
  padding-right: 50px;
  @media (max-width: 768px) {
    padding-right: 20px;
  }
}

.actions {
  width: 42%;
  overflow: hidden;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.actions .skew {
  top: 45%;
  left: 0;
  width: 100%;
  height: 10%;
  fill: #1872d9;
}

.actions .icon {
  opacity: 0.15;
  font-size: 120px;
  transform: scale(2);
  transform-origin: top;
}

.actions .cta {
  position: relative;
}

.estimer,
.participer {
  color: #fff;
}

.estimer h1,
.participer h1 {
  color: inherit;
}

.estimer p,
.participer p {
  max-width: 600px;
  margin: 0 auto 2.5em;
}

.estimer .skew,
.participer .skew {
  top: 100%;
  left: 0;
  width: 100%;
  height: 120px;
}

.participer {
  background: #1872d9;
}

.home .participer {
  height: 45%;
}

.participer .cta {
  color: #1872d9;
}

.estimer {
  background: #00aac1;
}

.home .estimer {
  height: 55%;
  padding-left: 160px;
  @media (max-width: 768px) {
    padding-left: 20px;
  }

}

.estimer .skew {
  fill: #00aac1;
}

.estimer .cta {
  color: #00aac1;
}

.cta {
  font: inherit;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 25px;
  font-weight: 600;
  background: none;
  color: #fff;
  padding: 0.75em 2em;
  min-height: 46px;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.cta.blue {
  background: #1872d9;
}

.cta.green {
  background: #00aac1;
}

.cta.white {
  background: #fff;
  color: inherit;
}

.icon {
  width: 1em;
  height: 1em;
  display: inline-block;
}

.icon svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
  vertical-align: unset !important;
}
