<h1 [translate]="'global.title'" class="text-center"></h1>
<div class="row">
    <div class="col text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
    </div>
    <div class="col text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
    </div>
</div>
