<div class="discover">
  <div class="row top">

    <div class="col pl-3 pr-3 pb-2 pt-5">
      <h1 [translate]="'discover.intelligence.title'" class="text-center align-middle text-primary pb-3 pt-3"></h1>
      <p [translate]="'discover.intelligence.explanation'" class="text-center align-middle "></p>

      <h1 [translate]="'discover.learning.title'" class="text-center align-middle text-primary pb-3 pt-5"></h1>
      <div class="row justify-content-md-center">
        <div class="col-md-8 pl-2 pr-2">
          <ul>
            <li [translate]="'discover.learning.explanation1'"></li>
            <li [translate]="'discover.learning.explanation2'"></li>
            <li [translate]="'discover.learning.explanation3'"></li>
            <li [translate]="'discover.learning.explanation4'"></li>
          </ul>
        </div>
      </div>


      <h1 [translate]="'discover.machine.title'" class="text-center align-middle text-primary pb-3 pt-5"></h1>
      <div class="row justify-content-md-center">
        <div class="col-md-8 pl-2 pr-2">
          <ul>
            <li [translate]="'discover.machine.explanation1.title'" class="align-middle"></li>
            <ul>
              <li [translate]="'discover.machine.explanation1.explanation'" class="align-middle"></li>
              <li [translate]="'discover.machine.explanation1.problem'" class="align-middle"></li>
            </ul>
            <li [translate]="'discover.machine.explanation2.title'" class="align-middle"></li>
            <ul>
              <li [translate]="'discover.machine.explanation2.explanation'" class="align-middle"></li>
              <li [translate]="'discover.machine.explanation2.problem'" class="align-middle"></li>
            </ul>
            <li [translate]="'discover.machine.explanation3.title'" class="align-middle"></li>
            <ul>
              <li [translate]="'discover.machine.explanation3.explanation'" class="align-middle"></li>
              <li [translate]="'discover.machine.explanation3.problem'" class="align-middle"></li>
            </ul>
          </ul>
        </div>
      </div>


      <h1 [translate]="'discover.methods.title'" class="text-center align-middle text-primary pb-3 pt-5"></h1>

      <div class="row">
        <div class="col pl-2 pr-2">
          <h3 [translate]="'discover.methods.symbolic.title'"
              class="text-center align-middle text-primary pb-3 pt-3"></h3>
          <p [translate]="'discover.methods.symbolic.text'" class="text-center align-middle"></p>
        </div>
        <div class="col pl-2 pr-2">
          <h3 [translate]="'discover.methods.statistic.title'"
              class="text-center align-middle text-primary pb-3 pt-3"></h3>
          <p [translate]="'discover.methods.statistic.text'" class="text-center align-middle"></p>
        </div>
      </div>

      <h1 [translate]="'discover.learningType.title'" class="text-center align-middle text-primary pb-3 pt-5"></h1>

      <div class="row">
        <div class="col pl-2 pr-2">
          <h3 [translate]="'discover.learningType.supervised.title'"
              class="text-center align-middle text-primary pb-3 pt-5"></h3>
          <p [translate]="'discover.learningType.supervised.text'" class="text-center align-middle"></p>
        </div>
        <div class="col pl-2 pr-2">
          <h3 [translate]="'discover.learningType.unsupervised.title'"
              class="text-center align-middle text-primary pb-3 pt-5"></h3>
          <p [translate]="'discover.learningType.unsupervised.text'" class="text-center align-middle"></p>
        </div>
        <div class="col pl-2 pr-2">
          <h3 [translate]="'discover.learningType.reinforcement.title'"
              class="text-center align-middle text-primary pb-3 pt-5"></h3>
          <p [translate]="'discover.learningType.reinforcement.text'" class="text-center align-middle"></p>
        </div>
      </div>


      <p [translate]="'discover.explanation'" class="text-center align-middle pb-3 pt-5"></p>
      <div class="row">
        <div class="col pl-2 pr-2 pt-5 text-center align-middle">
          <img *ngIf="lang" src="./assets/images/cartoIAEn.svg" class="svg2 text-center align-middle">
          <img *ngIf="!lang" src="./assets/images/cartoIAFr.svg" class="svg2 text-center align-middle">
        </div>
      </div>

    </div>
  </div>
</div>
