<div class="app-model">
  <form (ngSubmit)="onSubmit()">
    <div class="card mt-3 mb-3">
      <div class="card-header">
        <h2 [translate]="'model.inside'"></h2>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row mt-1">
            <div class="col border-right">
              <h5 [translate]="'model.input.area'" class="text-center"></h5>
            </div>
            <div class="col">
              <h5 [translate]="'model.input.location'" class="text-center"></h5>
            </div>
          </div>

          <div class="row">
            <div class="col border-right custom-slider">
              <ng5-slider [(value)]="userInput.groundSurface" [manualRefresh]="manualRefresh"
                [options]="{floor: 0, ceil: 500}"></ng5-slider>
            </div>
            <div class="col">
              <select class="form-control" [(ngModel)]="userInput.location" name="location">
                <option *ngFor="let loc of locations" [ngValue]="loc">
                  {{ loc }}
                </option>
              </select>
            </div>
          </div>

          <div class="row border-bottom mb-1 mt-1"></div>

          <div class="row">
            <div class="col border-right">
              <h5 [translate]="'model.input.rooms'" class="text-center"></h5>
            </div>
            <div class="col">
              <h5 [translate]="'model.input.type'" class="text-center"></h5>
            </div>
          </div>

          <div class="row">
            <div class="col border-right">
              <input class="form-control" type="number" [(ngModel)]="userInput.roomNumber" name="roomNumber"
                numbersOnly />
            </div>
            <div class="col">
              <div *ngFor="let type of houseTypeList;">
                <label for="type_{{type.name}}">
                  <input id="type_{{type.name}}" [value]='type' type="radio" name="type" [(ngModel)]="userInput.type"
                    class="mr-1">
                  <fa-icon [icon]="type.icon"></fa-icon>
                  - {{ type.translationKey | translate}}
                </label>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="card-header">
        <h2 [translate]="'model.outside'"></h2>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row border-bottom">
            <div class="col-4 text-center">
              <fa-icon icon="walking"></fa-icon>
              <h5>10 min</h5>
            </div>
            <div class="border-left border-right col-4 text-center">
              <fa-icon icon="car-side"></fa-icon>
              <h5>5 min</h5>
            </div>
            <div class="col-4 text-center">
              <fa-layers [fixedWidth]="true">
                <fa-icon icon="map-marker-alt"></fa-icon>
                <fa-icon icon="slash"></fa-icon>
              </fa-layers>
              <h5>None close</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-4 text-center">
              <div cdkDropList #closeList="cdkDropList" [cdkDropListConnectedTo]="[mediumList, farList]"
                [cdkDropListData]="userInput.close" (cdkDropListDropped)="drop($event)">
                <div class="mt-1 mb-1" *ngFor="let item of userInput.close" cdkDrag>
                  <p [translate]="item.translationKey"></p>
                </div>
              </div>
            </div>

            <div class="border-left border-right col-4 text-center">
              <div class="list-group" cdkDropList #mediumList="cdkDropList"
                [cdkDropListConnectedTo]="[closeList, farList]" [cdkDropListData]="userInput.medium"
                (cdkDropListDropped)="drop($event)">
                <div class="mt-1 mb-1" *ngFor="let item of userInput.medium" cdkDrag>
                  <p [translate]="item.translationKey"></p>
                </div>
              </div>
            </div>

            <div class="col-4 text-center">
              <div cdkDropList #farList="cdkDropList" [cdkDropListConnectedTo]="[closeList, mediumList]"
                [cdkDropListData]="userInput.far" (cdkDropListDropped)="drop($event)">
                <div class="mt-1 mb-1" *ngFor="let item of userInput.far" cdkDrag>
                  <p [translate]="item.translationKey"></p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <button type="submit" class="btn btn-primary btn-lg btn-block">Predict</button>
  </form>


  <div class="card mb-3 mt-3">
    <div class="card-header">
      Result
    </div>
    <div class="row pt-2">
      <div class="col text-center">
        <div [hidden]="!accuracy">
          <canvas id="canvas1">{{ accuracy }}</canvas>
        </div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
      </div>
      <div class="col text-center">
        <div [hidden]="!samples">
          <canvas id="canvas2">{{ samples }}</canvas>
        </div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.
      </div>
    </div>
  </div>
</div>