<div class="visualization">
  <div class="row top bg-primary">
    <img src="./assets/images/horizontalShiftPrimary.svg" class="svg2">

    <div class="col">
      <h1 [translate]="'global.menu.estimate'" class="text-center align-middle text-light pt-5"></h1>
    </div>
  </div>

  <div class="row middle bg-primary">
    <div class="col">
      <app-bar-chart class=""></app-bar-chart>
    </div>
    <div class="col">
      <app-line-chart class=""></app-line-chart>
    </div>
  </div>




  <div class="row bottom justify-content-center bg-success">
    <div class="col">
      <ng5-slider [(value)]="value" [options]="options"></ng5-slider>
    </div>
    <div class="col m-2">
      <app-pie-chart class=""></app-pie-chart>
    </div>
  </div>
</div>