div.tooltip {
    position: absolute;
    text-align: center;
    width: 80px;
    height: 40px;
    padding: 5px;
    font: 12px sans-serif;
    background: black;
    color: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    vertical-align: middle;
    z-index: 10;
}


#bar {
    svg {
        text.label {
            fill: black;
            font: 15px;
            font-weight: 400;
            text-anchor: middle;
        }

        display: block;
        margin: auto;
    }
    width: 90%;
    height: 90%;
}
