@import '../../assets/scss/bootstrap-variables';

@media screen and (max-width:800px){
    .display-3 {
      font-size: 2.5rem;
    }
}

.svg2 {
    display: none;
    @media (min-width: 1000px) {  
      display: block;
      position: absolute;
      top: 100%;
      left:0;
      right: 0;
      width: 100vw;
    }
  }

.top {
    height: 75%;
    @media screen and (min-width:540px){
        height: 50%;
    }
}

.bottom {
    padding-top: 10%;
    height: 25%;
    @media screen and (min-width:540px){
        height: 50%;
    }
}

.result {
    background-color: $success;
    height: 100vh;
}

[type=number] {
    border-radius: 30px 0 0 30px;
}

.input-group-text {
    border-radius: 0 30px 30px 0;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $light;
    opacity: 1; /* Firefox */
}
  
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $light;
}
  
input::-ms-input-placeholder { /* Microsoft Edge */
    color: $light;
}